
body {
	font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif; 
    margin: 0em;
    padding:0px;
    display: flex;
    flex-direction: column;
    align-items:center;
    background-color: #c58d5f;
}

h1 {
    text-align: center;
}

.grid {
    display: flex;
    flex-direction: column;
    border-style: solid;
}

.parent {
    display: flex;
}


.child {
    background-color: white;
}




button {
    transition-duration: 0.4s;
    background-color: #e06c0d;
    border-radius: 8px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    margin-bottom: 15px;
}
  
button:hover {
    background-color: #8d4306;
    color: white;
}